@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-wrapper {
  background-color: #191919;
  color: whitesmoke;
  border: none;
}

.nav-bar {
    background-color: #393939;
    position: fixed;
}

i {
  color: #b93b0d;
}

span {
  color: whitesmoke;
  vertical-align:text-top;
}

.brand-logo:hover {
  color:#45A29E;
  text-shadow: 0 0 10px #66FCF1;
}

.links {
  margin-right: 300px;
}

.nav-item:hover {
  box-shadow: 0 0 20px #66FCF1;
}

.center {
  text-align: center;
  align-items: center;
  align-self: center;
  align-content: center;
}
