@tailwind base;
@tailwind components;
@tailwind utilities;

.trainer-section {
  height: 50rem;
  background-image: url("../../public/Trainer.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size:cover;
  position: relative;
  background-attachment: scroll;
}

.textBox {
  color:black
}

.single-item {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.939);
  padding: 5px;
  background-color: #45A29E;
  border-color: #66FCF1;
  border-radius: 10px;
  min-width: 20%;
  max-width: 30%;
  min-height: 20%;
  max-height: 30%;
  justify-content: space-between;
  margin-bottom: 20px;
}

.custom-title {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.939);
  padding: 5px;
  background-color: #45A29E;
  border-color: #66FCF1;
  border-radius: 10px;
  min-width: 20%;
  max-width: 30%;
  min-height: 10%;
  max-height: 20%;
  justify-content: space-between;
  margin-bottom: 20px;
  text-align: center;
}
